.icon,
.icon-rotate {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: auto auto;
    width: 6px;
    height: 1px;
    background: #adbfdf;
    transform: rotate(45deg);
    transition: 0.2s ease;
  }

  &::after {
    content: "";
    inset: auto 4px;
    transform: rotate(-45deg);
  }
}

.icon {
  &::before {
    background: #015ef5;
    transform: rotate(-45deg);
  }

  &::after {
    background: #015ef5;
    transform: rotate(45deg);
  }
}
