* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), url("./fonts/SFProDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), url("./fonts/SFProDisplay-Medium.ttf");
  font-weight: 500;
}

body {
  background: #f1f4f9;
  font-family: "SF Pro Display";
}
