.call-status {
  svg {
    transform: rotate(180deg);
  }
}

.img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.row {
  padding: 0 40px;
  width: 100%;

  &:hover {
    background: #f1f4f9;
    cursor: pointer;
  }
}
